<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid90" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monoandroid90" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid90" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="monoandroid90" />
  <package id="Syncfusion.Licensing" version="16.3.0.36" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator.Android" version="16.3.0.36" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfChart.Android" version="16.3.0.36" targetFramework="monoandroid90" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid81" />
  <package id="UptimeSharp" version="2.1.0.0" targetFramework="monoandroid81" />
  <package id="WaveEngine.Box2D" version="2.5.0.39" targetFramework="monoandroid90" />
  <package id="WaveEngine.Bullet" version="2.5.0.39" targetFramework="monoandroid90" />
  <package id="WaveEngine.Common" version="2.5.0.39" targetFramework="monoandroid90" />
  <package id="WaveEngine.Framework" version="2.5.0.39" targetFramework="monoandroid90" />
  <package id="WaveEngine.Materials" version="2.5.0.39" targetFramework="monoandroid90" />
  <package id="WaveEngine.Spine" version="2.5.0.39" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.CustomTabs" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v14.Preference" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Preference" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.12-preview3" targetFramework="monoandroid90" />
  <package id="Xamarin.Essentials" version="1.0.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Common" version="70.1600.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Iid" version="70.1620.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Iid.Interop" version="70.1600.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.Firebase.Measurement.Connector" version="70.1700.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads" version="70.1501.0-preview2" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Ads.Base" version="70.1501.0-preview2" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Ads.Identifier" version="70.1501.0-preview2" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="70.1501.0-preview2" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="70.1501.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Basement" version="70.1501.0-preview2" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Gass" version="70.1501.0-preview2" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Stats" version="70.1501.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="70.1501.0-preview2" targetFramework="monoandroid90" />
  <package id="Xamarin.PhotoView.Android" version="1.2.4" targetFramework="monoandroid81" />
</packages>