[*.cs]

# CA1031: 일반적인 예외 형식을 catch하지 마세요.
dotnet_diagnostic.CA1031.severity = suggestion

# CA2007: 대기된 작업에 대해 ConfigureAwait 호출 고려
dotnet_diagnostic.CA2007.severity = suggestion

# CA1304: CultureInfo를 지정하세요.
dotnet_diagnostic.CA1304.severity = suggestion

# CA1307: StringComparison을 지정하세요.
dotnet_diagnostic.CA1307.severity = silent

# CA1303: 리터럴을 지역화된 매개 변수로 전달하지 마십시오.
dotnet_diagnostic.CA1303.severity = suggestion

# CA1305: IFormatProvider를 지정하세요.
dotnet_diagnostic.CA1305.severity = suggestion

# CA3075: XML의 안전하지 않은 DTD 처리
dotnet_diagnostic.CA3075.severity = suggestion

# CA2000: 범위를 벗어나기 전에 개체를 삭제하십시오.
dotnet_diagnostic.CA2000.severity = suggestion

# CA1707: 식별자에는 밑줄을 사용할 수 없습니다.
dotnet_diagnostic.CA1707.severity = suggestion

# CA1814: 다차원 배열보다 가변 배열을 사용하세요.
dotnet_diagnostic.CA1814.severity = suggestion

# CA1822: 멤버를 static으로 표시하세요.
dotnet_diagnostic.CA1822.severity = suggestion

# CA1819: 속성은 배열을 반환하지 않아야 합니다.
dotnet_diagnostic.CA1819.severity = silent

# CA1062: public 메서드의 인수에 대한 유효성을 검사하세요.
dotnet_diagnostic.CA1062.severity = suggestion
